<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">

<head>

  <title>Social Search Results</title>

  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
  <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

  <!-- Main Styles CSS -->
  <link rel="stylesheet" type="text/css" href="css/main.min.css">
  <link rel="stylesheet" type="text/css" href="css/fonts.min.css">

  <!-- Main Font -->
  <script src="js/webfontloader.min.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Roboto:300,400,500,700:latin']
      }
    });
  </script>

</head>

<header class="header header--logout" id="site-header">


  <div class="page-title">
    <h6>GodinezBook!</h6>
  </div>

  <div class="header-content-wrapper">

    <div class="form--login-logout">
      <form class="form-inline">
        <div class="form-group"></div>
        <input id="emailUsuario" class="form-control form-control-sm" type="text" placeholder="Username" value="" required>

        <div class="form-group">
          <input id="userPass" class="form-control form-control-sm" type="password" placeholder="Password" value="" required>
        </div>
        <button id="loginbutton" class="btn btn-primary btn-md-2">Login</button>

      </form>


    </div>
  </div>

</header>

<div class="header-spacer"></div>
<div class="row">
  <div class="col-5 offset-1" style="margin-top:auto; margin-bottom:auto;">
<img src="/images/2.jpeg" style="width:20;">

  </div>
  
  
  <div class="col-5">
    <h1>Register Now! Is Free!</h1>
    <div class="row">
      <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="form-group label-floating is-empty">
          <input id="nombreUsuarioR" class="form-control" placeholder="First Name" type="text">
        </div>
      </div>
      <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="form-group label-floating is-empty">
          <input id="apellidoUsuario"class="form-control" placeholder="Last Name" type="text">
        </div>
      </div>
      <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group label-floating is-empty">

          <input id="emailU"class="form-control" placeholder="Your Email" type="email">
        </div>
        <div class="form-group label-floating is-empty">
          {{!-- <label class="col-form-label" style="font-weight:bold;">Your Password</label> --}}
          <input id="userPassR"class="form-control" placeholder="Password" type="password">
        </div>

        <div class="form-group date-time-picker label-floating">
          <label class="col-form-label" style="font-weight:bold;">Your Birthday</label>
          <input id="nacimiento"type="date" class="input-group date"name="datetimepicker" value="10/24/1984" />

        </div>
        <a href="#" id="registerButton" class="btn btn-primary full-width">Register and be a GODIN!</a>
      </div>
    </div>
  </div>
</div>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/register.js"></script>